<!-- book_tickets.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Book Tickets</title>
</head>
<body>
    <h1>Book Tickets</h1>
    <form action="{{ url_for('book_tickets') }}" method="post">
        <label for="first_name">Name:</label>
        <input type="text" id="first_name" name="first_name" required>
        <br>
        <label for="seat_number">Select Seat:</label>
        <select id="seat_number" name="seat_number" required>
            {% for seat in available_seats %}
                <option value="{{ seat['seat_number'] }}">{{ seat['seat_number'] }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Book Ticket</button>
    </form>
    <br>
    <a href="{{ url_for('my_tickets') }}">My Tickets</a>
</body>
</html>
