<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lander_page.css') }}">
    <title src="olympic_logo.jpg">Olympics Analysis</title>
</head>
<body class="container">
    <div>

        <!-- Navigation bar -->
        <nav>
            <img height="50px" width="100px" src="{{ url_for('static', filename='img/olympic_logo.jpg') }}" alt="olympic_logo">
            <ul  class="navbar">
                <li><a  class="active" href="/">Home</a></li>
                <li><a href="http://localhost:8501/" target="_blank">Analysis</a></li>
                <li><a href="/prediction">Prediction</a></li>
                <li><a href="/baytickets">Bay Ticket</a></li>
                <li><a href="/forum">Forum</a></li>
            </ul>
        </nav>

        <!-- Top Athletes Slider -->
        <div class="torch">
            <img width="200px" height="400px" src="{{ url_for('static', filename='img/torch.png') }}">
            <p>The Olympic Games are the world's only truly global, multi-sport, celebratory athletics competition. With more than 200 countries participating in over 400 events across the Summer and Winter Games, the Olympics are where the world comes to compete, feel inspired, and be together.</p>
        </div>   

        <!-- Slider Scroll -->
        <div class="mediaScroll">
            <div class="media_element"></div>
            <div class="media_element"></div>
            <div class="media_element"></div>
            <div class="media_element"></div>
            <div class="media_element"></div>             
        </div>
    </div>
</body>
</html>